@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    line-height: 3rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

p {
    font-size: 1.25rem;
	line-height: 2.1rem;
    font-weight: 400;
}

a {
    color: #667a83;
	text-decoration: none;
	border-bottom: 2px solid;
	transition: all 0.25s ease-out;
}

a:hover {
	background: #fed100;
	border-bottom: none;
	border-radius: 2px;
	
}

span.highlight {
	background: rgba(254, 209, 0, 0.1);
	border-radius: 2px;
	padding-left: 4px;
	padding-right: 4px;
}

section.jpk-header h1, h2, h3, p {
    color: #667a83;
}

section.jpk-header h1 {
    margin-top: 0;
}

.jpk-header .section-main h1:before {
    content: '';
    display: block;
    width: 4rem;
    height: 0.3rem;
    background-color: #F4E04D;
    border: none;
    margin: 0;
    margin-bottom: 0.7rem;
}

section.jpk-header {
	background: #fdf6e3;
	min-height: 100vh;
}

.section-main {
	display: flex;
	flex-direction: column;
	align-items: left;
}

.welcome {
	padding-top: 10vh;
	opacity: 0;
	animation: fadein 1s forwards;
}

.info {
	padding-top: 5vh;
	opacity: 0;
	animation: fadein 1s forwards 0.5s;
}

.welcome, .info { 
	max-width: 40rem;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

/* ANIMATIONS */

@keyframes fadein {
	0% { 
		transform: translate3d(0,30px,0);
		opacity: 0; 
	}
	100% { 
		transform: translate3d(0,0,0);
		opacity: 1; 
	}
}
